.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0 auto;
    padding: 4rem;
}

.page-container h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.page-container h1 {
    font-size: 2rem;
}

@media (min-width: 1024px) {
    .page-container h1 {
        font-size: 4rem;
    }
}

.connect-button {
    padding: 2rem;
    width: fit-content;
    cursor: pointer;
}

.page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}