<router-outlet />

<div class="page-container">
    <h1>Who skis where when?</h1>

    <div class="connect-button">
        <picture>
            <source srcset="assets/connectWithStravaLarge.png" media="(min-width: 1024px)">
            <img src="assets/connectWithStrava.png" alt="Connect with Strava" (click)="onClick()">
        </picture>
    </div>
</div>
<footer class="page-footer">
    <picture>
        <source srcset="assets/poweredByStrava.png" media="(min-width: 1024px)">
        <img src="assets/poweredByStravaStacked.png" alt="Connect with Strava" (click)="onClick()">
    </picture>
</footer>

